<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>[PMSystem] Your reset password request has been accepted.</title>
    <style>
      .button {
        background-color: #1E498A;
        border: 1px;
        border-radius: 999px;
        padding: 12px;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <p style="-webkit-text-stroke-width:0px;background-color:rgb(255, 255, 255);color:rgb(23, 43, 77);font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen, Ubuntu, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;font-size:16px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;margin:10px 0px 0px;orphans:2;padding:0px;text-align:left;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;">
      <span style="color:hsl( 0, 0%, 0% );">Hi {{{ userFullName }}},</span>
    </p>

    <p style="-webkit-text-stroke-width:0px;background-color:rgb(255, 255, 255);color:rgb(23, 43, 77);font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen, Ubuntu, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;font-size:16px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;margin:10px 0px 0px;orphans:2;padding:0px;text-align:left;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;">
      <span style="color:hsl( 0, 0%, 0% );">Your reset password for account <strong>{{{ username }}}</strong> has been accepted.</span>
    </p>

    <p style="-webkit-text-stroke-width:0px;background-color:rgb(255, 255, 255);color:rgb(23, 43, 77);font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen, Ubuntu, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;font-size:16px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;margin:10px 0px 0px;orphans:2;padding:0px;text-align:left;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;">
      <span style="color:hsl( 0, 0%, 0% );"> Please use this OTP for password reset: <strong>{{{ otp }}}</strong>. This OTP will be valid for 10 minutes.</span>
    </p>

    <p
      style="-webkit-text-stroke-width:0px;font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen, Ubuntu, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;font-size:16px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;margin:10px 0px 0px;orphans:2;">
      <a href="{{{ resetPasswordUrl }}}" class="button"><strong>Reset password</strong></a>
    </p>

    <p style="-webkit-text-stroke-width:0px;background-color:rgb(255, 255, 255);color:rgb(23, 43, 77);font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen, Ubuntu, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;font-size:16px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;margin:10px 0px 0px;orphans:2;padding:0px;text-align:left;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;">
      <span style="color:hsl( 0, 0%, 0% );">Best regards,</span>
      <br>
      <span style="color:hsl( 0, 0%, 0% );">PMSystem Administrator.</span>
    </p>
  </body>
</html>